# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
backend/db.json

# Environment/Configuration
.env
backend/.env

# IDEs
.vscode/
.idea/

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
